<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>it.polimi.dima.polisocial.endpoint.CommentEndpoint,it.polimi.dima.polisocial.endpoint.DeviceInfoEndpoint,it.polimi.dima.polisocial.endpoint.DisLikeEndpoint,it.polimi.dima.polisocial.endpoint.HitOnEndpoint,it.polimi.dima.polisocial.endpoint.InitiativeEndpoint,it.polimi.dima.polisocial.endpoint.LikeEndpoint,it.polimi.dima.polisocial.endpoint.MessageEndpoint,it.polimi.dima.polisocial.endpoint.NotificationEndpoint,it.polimi.dima.polisocial.endpoint.PoliUserEndpoint,it.polimi.dima.polisocial.endpoint.PostImageEndpoint,it.polimi.dima.polisocial.endpoint.PostSpottedEndpoint,it.polimi.dima.polisocial.endpoint.PrivateLessonEndpoint,it.polimi.dima.polisocial.endpoint.RentalEndpoint,it.polimi.dima.polisocial.endpoint.SecondHandBookEndpoint,it.polimi.dima.polisocial.foursquare.FoursquarePolisocialAPI</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>